<h3>Sign up to be a member of Open House</h3>

<form action="/users" method="POST">
  <label>
    first name:
    <input name="fname" />
  </label>

  <label>
    last name:
    <input name="lname" />
  </label>

  <label>
    email:
    <input name="email" />
  </label>

  <label>
    password:
    <input name="password" />
  </label>

  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  <button>Submit</button>
</form>