@import url(https://fonts.googleapis.com/css?family=Open+Sans|Wire+One|Oswald:400,700,300);

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
}  

#login_panel {
  text-align: center;
}

#signup_panel {
  text-align: center;
}

a {
  font-weight: bold;
 	color: #0064D6
 }