@import url(https://fonts.googleapis.com/css?family=Open+Sans|Wire+One|Oswald:400,700,300);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(131,218,236,0.2);
}  

#login_panel {
  text-align: center;
}

#signup_panel {
  text-align: center;
}

#newClient_panel {
	text-align: center;
	margin-top: 20px;
}

a {
  font-weight: bold;
 	color: #0064D6
 }




