
<!-- showing all openhouses by user and creating them. -->

  <div class="container">
    <header class="row">
      <div class="col-md-6">
        <h2>Open Houses</h2>
      </div>
    </header>


<!-- remember to prevent default form behavior -->
<!--  <form></form> -->

    <div class="row">
      <div class="col-lg-12 col-sm-12">
      	<ul id="moreHouses">
				</ul>    
      </div>
    </div>


      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h2 class="panel-title"><strong>Schedule An Open House</strong></h2>
        </div>

          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="openhouse_date">Open House Date</label>
                <input type="text" class="form-control" id="schedule_date" placeholder="">
              </div>
              <div class="form-group">
                <label for="openhouse_time">Open House Time</label>
                <input type="text" class="form-control" id="schedule_time" placeholder="">
              </div>
              <div class="form-group">
                <label for="street_address">Open House Street Address</label>
                <input type="text" class="form-control" id="street_address" placeholder="">
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="">
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" placeholder="">
              </div>
              <div class="form-group">
                <label for="zip_code">Zip Code</label>
                <input type="text" class="form-control" id="zip" placeholder="">
              </div>
              <div class="form-group">
                <label for="user_id"></label>
                <input type="hidden" class="form-control" id="user_id" value=<%= @user.id %> placeholder="">
              </div>
            </form>  
            <button type="submit" class="btn btn-primary" id="main_submit">Submit</button>  
          </div>
            
          
      </div>

  </div>